h1 {
  font-size: $text-xl;
  font-weight: $light;
}

h2 {
  font-size: $text-lg;
  font-weight: $semi-bold;
}

h3 {
  font-size: $text-md;
  font-weight: $semi-bold;
}

h4 {
  font-size: $text-sm;
  font-weight: $bold;
}
