//fonts
$nunito-sans: 'Nunito Sans', sans-serif;

//colors
$white: #ffffff;
$light-gray: #f6f6f6;
$light-gray-1: #dfdfdf;
$light-gray-2: #d8d8d8;
$light-gray-3: #d9d9d9;
$light-gray-4: #f4f3f3;

$dark-gray: #757575;
$dark-gray-1: #b6b8bc;
$dark-gray-2: #e2e2e2;
$dark-gray-3: #a9a9a9;

$dark: #2c2b2b;
$black: #000000;

$red: #f75845;
$red-1: #e24839;
$red-2: #e64833;

//breakpoints
$screen-width-s: 450px;
$screen-width-sm: 640px;
$screen-width-md: 768px;
$screen-width-lg: 1024px;
$screen-width-xl: 1280px;
$screen-width-2xl: 1536px;

//text size
$text-xs: 12px;
$text-base: 14px;
$text-sm: 16px;
$text-md: 25px;
$text-lg: 30px;
$text-xl: 40px;

//font weight
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

//spacing
$margin-mobile: 16px;
$margin-desktop: 32px;
$padding-desktop: 25px;
$space-between-buttons: 25px;

//grid
$gap-16: 16px;
$gap-25: 25px;

//profile squares
$square-padding-20: 20px;
$square-padding-30: 30px;
$square-padding-40: 40px;
